/* index.css begin */
/* ../../libs/bem-components/common.blocks/checkbox/__box/checkbox__box.css begin */
.checkbox__box
{
    position: relative;

    cursor: default;
}

/* ../../libs/bem-components/common.blocks/checkbox/__box/checkbox__box.css end */
/* ../../libs/bem-components/common.blocks/checkbox/__control/checkbox__control.css begin */
@media all and (min-width:0px) {
    .i-ua_js_yes .checkbox__control
    {
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;

        width: 101%;
        height: 101%;
        margin: 0;
        padding: 0;

        opacity: 0;
        outline: 0;

        border: 0;
        background: none;
    }
}


/* ../../libs/bem-components/common.blocks/checkbox/__control/checkbox__control.css end */
/* ../../libs/bem-components/common.blocks/checkbox/__tick/checkbox__tick.css begin */
.checkbox__tick
{
    position: relative;
    z-index: 3;
    top: -3px;
    left: 0.1em;

    display: inline-block;
    visibility: hidden;

    width: 16px;
    height: 14px;
    margin: 0 0 -2px;
    padding: 0;

    vertical-align: baseline;

    opacity: .8;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNi4wMzciIGhlaWdodD0iMTQuOTczIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNi4xODctMTkuODQ1YzQuNDE4IDAgOCAzLjU4MiA4IDggMCA0LjQxOS0zLjU4MiA4LTggOHMtOC0zLjU4MS04LThjMC00LjQxOCAzLjU4Mi04IDgtOHoiLz48cGF0aCBkPSJNNi4xODctMTguODQ1Yy0zLjg2NiAwLTcgMy4xMzQtNyA3czMuMTM0IDcgNyA3IDctMy4xMzQgNy03LTMuMTM0LTctNy03ek0xMC4xNzctOS4yOGwtMS40MjYgMS40MjYtMi41NjQtMi41NjQtMi41NjUgMi41NjQtMS40MjYtMS40MjYgMi41NjQtMi41NjQtMi41NjQtMi41NjQgMS40MjYtMS40MjYgMi41NjQgMi41NjQgMi41NjQtMi41NjQgMS40MjYgMS40MjYtMi41NjQgMi41NjQgMi41NjUgMi41NjR6Ii8+PHBhdGggZD0iTTUuMjg3IDE0Ljk3MmwxMC43NS0xMi44MTYtMi4xNzctMi4xNTYtOC41NzMgMTAuNjYxLTMuMTQ0LTQuMTQ4LTIuMTQzIDIuMTIzIDUuMjg3IDYuMzM2eiIvPjwvc3ZnPg==) 0 100% no-repeat;
    /*background: url(checkbox__tick.svg) 0 100% no-repeat;*/
}

/* ../../libs/bem-components/common.blocks/checkbox/__tick/checkbox__tick.css end */
/* ../../libs/bem-components/common.blocks/checkbox/_checked/checkbox_checked_yes.css begin */
.checkbox_checked_yes .checkbox__tick
{
    visibility: visible;
}

/* ../../libs/bem-components/common.blocks/checkbox/_checked/checkbox_checked_yes.css end */
/* ../../libs/bem-components/common.blocks/checkbox/_disabled/checkbox_disabled_yes.css begin */
.checkbox_disabled_yes
{
    opacity: .6;
}


/* ../../libs/bem-components/common.blocks/checkbox/_disabled/checkbox_disabled_yes.css end */
/* ../../libs/bem-components/common.blocks/input/input.css begin */
.input
{
    position: relative;

    display: inline-block;

    width: 100%;
}

/* ../../libs/bem-components/common.blocks/input/input.css end */
/* ../../libs/bem-components/common.blocks/input/_disabled/input_disabled_yes.css begin */
.input_disabled_yes
{
    cursor: default;

    opacity: .6;
}

.input_disabled_yes .input__control
{
    resize: none;
    cursor: default;
}

.input_disabled_yes .input__clear
{
    display: none;
}

/* ../../libs/bem-components/common.blocks/input/_disabled/input_disabled_yes.css end */
/* ../../libs/bem-components/common.blocks/input/_focused/input_focused_yes.css begin */
/* ::after = fade */
.input_focused_yes .input__box::after
{
    display: none;
}
/* ../../libs/bem-components/common.blocks/input/_focused/input_focused_yes.css end */
/* ../../libs/bem-components/common.blocks/input/__box/input__box.css begin */
/* elem box — a border input */
.input__box
{
    position: relative;

    display: block;
}

@media all and (min-width:0px) {
    .input__box
    {
        /* padding-right for elem clear */
        padding-right: 29px;

        -moz-box-sizing: border-box;
         box-sizing: border-box;
    }
}

/* ::after = fade */
.input__box::after
{
    position: absolute;
    z-index: 3;
    bottom: 1px;
    right: 1px;
    top: 2px;

    content: '';

    width: 36px;

    background: -webkit-gradient(linear, left top, right top, color-stop(0,rgba(255,255,255,0)), color-stop(20%, #fff));
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0, #fff 20%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0, #fff 20%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0, #fff 20%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0, #fff 20%);
}
/* ../../libs/bem-components/common.blocks/input/__box/input__box.css end */
/* ../../libs/bem-components/common.blocks/input/__control/input__control.css begin */
.input__control
{
    position: relative;
    z-index: 3;

    width: 100%;
    margin: 0;

    color: #000;

    font-size: 100%;
}

@media all and (min-width:0px) {
    .i-ua_js_yes .input__control
    {
        height: 2em;

        outline: 0;

        border: 0;
        background: none;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.input__control::-ms-clear
{
    /* Hide native cross in IE10 */
    display: none;
}
/* ../../libs/bem-components/common.blocks/input/__control/input__control.css end */
/* ../../libs/bem-components/common.blocks/input/__clear/input__clear.css begin */
.input__clear
{
    position: absolute;
    z-index: 5;
    right: 1px;
    bottom: 0;
    top: 0;

    visibility: hidden;

    margin: 0;
    padding: 0;

    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDEuMjA5Yy0zLjc1MSAwLTYuNzkxIDMuMDQtNi43OTEgNi43OTEgMCAzLjc0OSAzLjA0IDYuNzg5IDYuNzkxIDYuNzg5IDMuNzQ5IDAgNi43ODktMy4wNCA2Ljc4OS02Ljc4OSAwLTMuNzUxLTMuMDQtNi43OTEtNi43ODktNi43OTF6TTExLjk5IDEwLjU2NGwtMS40MjYgMS40MjYtMi41NjQtMi41NjQtMi41NjQgMi41NjQtMS40MjYtMS40MjYgMi41NjQtMi41NjQtMi41NjQtMi41NjQgMS40MjYtMS40MjYgMi41NjQgMi41NjQgMi41NjQtMi41NjQgMS40MjYgMS40MjYtMi41NjQgMi41NjQgMi41NjQgMi41NjR6Ii8+PC9zdmc+) 50% 50% no-repeat;
    /*background: url(input__clear.svg) 50% 50% no-repeat;*/
    background-size: 18px;
}

/* ../../libs/bem-components/common.blocks/input/__clear/input__clear.css end */
/* ../../libs/bem-components/common.blocks/input/__clear/_visibility/input__clear_visibility_visible.css begin */
.input__clear_visibility_visible
{
    visibility: visible;

	opacity: 0.3;
}

.input__clear_visibility_visible:hover
{
	opacity: 0.8;
}
/* ../../libs/bem-components/common.blocks/input/__clear/_visibility/input__clear_visibility_visible.css end */
/* ../../libs/bem-components/common.blocks/button/button.css begin */
/* button — рисует бордер кнопки */ /**/
.button
{
    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;
    
    outline: 0;

    text-align: center;
    white-space: nowrap;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.button::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

/* Прячем стили от IE < 9 */ /**/
@media all and (min-width:0px) {
    .button
    {
        border: 0;
    }

    a.button:link,
    a.button:hover,
    a.button:visited
    {
        cursor: default;

        /* hidden for Opera 12 to remove native focusing  *//**/
        outline: hidden;

        text-decoration: none;
    }
}

/* ../../libs/bem-components/common.blocks/button/button.css end */
/* ../../libs/bem-components/common.blocks/button/__text/button__text.css begin */
.button__text
{
    position: relative;

    padding: 0 1em;
}

/* ../../libs/bem-components/common.blocks/button/__text/button__text.css end */
/* ../../libs/bem-components/common.blocks/button/_disabled/button_disabled_yes.css begin */
.button_disabled_yes
{
    opacity: .6;
}
/* ../../libs/bem-components/common.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../libs/bem-components/common.blocks/button/_pressed/button_pressed_yes.css begin */
@media all and (min-width:0px) {
    .button_pressed_yes .button__text
    {
        top: 1px;
    }
}

/* ../../libs/bem-components/common.blocks/button/_pressed/button_pressed_yes.css end */
/* ../../ya-libs/islands-components/common.blocks/button/_theme/button_theme_normal.css begin */
.button_theme_normal
{
    font-family: Arial, sans-serif;
}

@media all and (min-width:0px) {
    /* button — задает рамку у кнопки */
    .button_theme_normal
    {
        background: rgba(0,0,0,0.4);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0,rgba(0,0,0,0.4) 100%);
        background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.4) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0,rgba(0,0,0,0.4) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0,rgba(0,0,0,0.4) 100%);

        -moz-box-shadow: 0 1px 0 rgba(0,0,0,.07);
        box-shadow: 0 1px 0 rgba(0,0,0,.07);

        border-radius: 3px;
    }

    /* :before — градиент у кнопки */
    .button_theme_normal:before
    {
        position: absolute;
        bottom: 1px;
        right: 1px;
        left: 1px;
        top: 1px;

        content: '';

        background: #fff;
        background: -webkit-linear-gradient(top, #fff 0,#eee 100%);
        background: -moz-linear-gradient(top, #fff 0, #eee 100%);
        background: -o-linear-gradient(top, #fff 0,#eee 100%);
        background: linear-gradient(to bottom, #fff 0,#eee 100%);

        border-radius: 2px;
    }

    .button_focused_yes.button_theme_normal
    {
        -moz-box-shadow: 0 1px 0 rgba(0,0,0,.07), 0 0 6px 2px rgba(255,204,0,.7);
        box-shadow: 0 1px 0 rgba(0,0,0,.07), 0 0 6px 2px rgba(255,204,0,.7);
    }

    .button_focused_yes.button_theme_normal:not(.button_pressed_yes):before
    {
        -moz-box-shadow: 0 0 0 1px rgba(193,154,0,.2);
        box-shadow: 0 0 0 1px rgba(193,154,0,.2);
    }

    .button_pressed_yes.button_theme_normal
    {
        -moz-box-shadow: inset 0 2px 1px -1px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.2);
        box-shadow: inset 0 2px 1px -1px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.2);
    }

    .button_pressed_yes.button_theme_normal:before
    {
        -moz-box-shadow: inset 0 1px 3px -1px rgba(0,0,0,.5);
        box-shadow: inset 0 1px 3px -1px rgba(0,0,0,.5);
    }

    .button_theme_normal
    {
        color: #333 !important;
    }
}

/* ../../ya-libs/islands-components/common.blocks/button/_theme/button_theme_normal.css end */
/* ../../ya-libs/islands-components/common.blocks/button/_arrow/button_arrow_down.css begin */
.button_arrow_down .button__text
{
    padding-right: 1.8em;
}

/* Стрелочка в кнопке */
.button_arrow_down .button__text:after
{
    position: absolute;
    top: 0;
    right: 0.4em;

    content: '';

    width: 1em;
    height: 100%;

    /*background: url(button_arrow_down.svg) 0 50% no-repeat;*/
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwb2x5Z29uIHBvaW50cz0iNy4xOTQsMiAzLjk5Niw1LjE5NSAwLjc5OSwyIDAsMi43OTkgMy45OTYsNi43OTQgNy45OTEsMi43OTkiLz48L3N2Zz4=) 0 50% no-repeat;
}

/* ../../ya-libs/islands-components/common.blocks/button/_arrow/button_arrow_down.css end */
/* ../../ya-libs/islands-components/common.blocks/popup/popup.css begin */
.popup
{
    display: none;
    position: absolute;
    z-index: 32700;

    padding: 1px;
}

/* ../../ya-libs/islands-components/common.blocks/popup/popup.css end */
/* ../../ya-libs/islands-components/common.blocks/popup/__content/popup__content.css begin */
.popup__content
{
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 4px 8px;
    height: 100%;
}

/* ../../ya-libs/islands-components/common.blocks/popup/__content/popup__content.css end */
/* ../../ya-libs/islands-components/common.blocks/popup/_theme/popup_theme_ffffff.css begin */
.popup_theme_ffffff
{
    -webkit-box-shadow:
                inset 0 0 0 1px rgba(0,0,0, .15),
                0 8px 30px -5px rgba(0,0,0, .5);
       -moz-box-shadow: inset 1px 1px 10px #aaa;
            box-shadow:
                inset 0 0 0 1px rgba(0,0,0, .15),
                0 8px 30px -5px rgba(0,0,0, .5);
}

.popup_theme_ffffff,
.popup_theme_ffffff .popup__tail:after
{
    background: #fff;
}

.popup_theme_ffffff .popup__tail
{
    background: rgba(0,0,0, .15);
    background:
        -webkit-linear-gradient(45deg, rgba(0,0,0, .15) 50%, rgba(0,0,0, 0) 50%);
    background:
           -moz-linear-gradient(45deg, rgba(0,0,0, .15) 50%, rgba(0,0,0, 0) 50%);
    background:
             -o-linear-gradient(45deg, rgba(0,0,0, .15) 50%, rgba(0,0,0, 0) 50%);
}

/* ../../ya-libs/islands-components/common.blocks/popup/_theme/popup_theme_ffffff.css end */
/* ../../ya-libs/islands-components/common.blocks/popup/_visibility/popup_visibility_visible.css begin */
.popup_visibility_visible
{
    display: block;
}

/* ../../ya-libs/islands-components/common.blocks/popup/_visibility/popup_visibility_visible.css end */
/* ../../ya-libs/islands-components/common.blocks/popup/_visibility/popup_visibility_outside.css begin */
.popup_visibility_outside
{
    display: block;
    top: -99999px;
    left: -99999px;
}

/* ../../ya-libs/islands-components/common.blocks/popup/_visibility/popup_visibility_outside.css end */
/* ../../ya-libs/islands-components/common.blocks/popup/__under/popup__under.css begin */
.popup__under
{
    position: absolute;
    top: 0px;
    left: 0px;

    z-index: -1;

    width: 100%;
    height: 100%;

    border: 0;

    padding: 0px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* ../../ya-libs/islands-components/common.blocks/popup/__under/popup__under.css end */
/* ../../ya-libs/islands-components/common.blocks/popup/__under/_color/popup__under_color_white.css begin */
.popup__under_color_white
{
    background: #fff;
    opacity: .8;
}

/* ../../ya-libs/islands-components/common.blocks/popup/__under/_color/popup__under_color_white.css end */
/* ../../ya-libs/islands-components/common.blocks/popup/__under/_type/popup__under_type_paranja.css begin */
.popup__under_type_paranja
{
    position: fixed;
    z-index: 32000;
    top: 0;
    left: 0;

    opacity: 0.3;

    background: #000;

    padding: 0;
}

/* ../../ya-libs/islands-components/common.blocks/popup/__under/_type/popup__under_type_paranja.css end */
/* ../../ya-libs/islands-components/common.blocks/select/select.css begin */
.select
{
    display: inline-block;
}

/* ../../ya-libs/islands-components/common.blocks/select/select.css end */
/* ../../desktop.blocks/select/select.css begin */
.select,
.select .select__control
{
    max-width: 500px;
}

.select__popup .popup__content
{
    max-width: 496px;
}


/* ../../desktop.blocks/select/select.css end */
/* ../../ya-libs/islands-components/common.blocks/select/__item/select__item.css begin */
.select__item
{
    cursor: default;
    white-space: nowrap;
}

.select__text
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    max-width: 100%;
    padding: 0 2.5em 0 1em;

    vertical-align: top;
    text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ../../ya-libs/islands-components/common.blocks/select/__item/select__item.css end */
/* ../../ya-libs/islands-components/common.blocks/select/__item/_selected/select__item_selected_yes.css begin */
/* :after – галочка */
.select__item_selected_yes .select__text:after
{
    position: absolute;
    top: .4em;
    right: 1em;

    width: 1.1em;
    height: 1em;

    content: '';

    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNi4wMzciIGhlaWdodD0iMTQuOTczIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNi4xODctMTkuODQ1YzQuNDE4IDAgOCAzLjU4MiA4IDggMCA0LjQxOS0zLjU4MiA4LTggOHMtOC0zLjU4MS04LThjMC00LjQxOCAzLjU4Mi04IDgtOHoiLz48cGF0aCBkPSJNNi4xODctMTguODQ1Yy0zLjg2NiAwLTcgMy4xMzQtNyA3czMuMTM0IDcgNyA3IDctMy4xMzQgNy03LTMuMTM0LTctNy03ek0xMC4xNzctOS4yOGwtMS40MjYgMS40MjYtMi41NjQtMi41NjQtMi41NjUgMi41NjQtMS40MjYtMS40MjYgMi41NjQtMi41NjQtMi41NjQtMi41NjQgMS40MjYtMS40MjYgMi41NjQgMi41NjQgMi41NjQtMi41NjQgMS40MjYgMS40MjYtMi41NjQgMi41NjQgMi41NjUgMi41NjR6Ii8+PHBhdGggZD0iTTUuMjg3IDE0Ljk3MmwxMC43NS0xMi44MTYtMi4xNzctMi4xNTYtOC41NzMgMTAuNjYxLTMuMTQ0LTQuMTQ4LTIuMTQzIDIuMTIzIDUuMjg3IDYuMzM2eiIvPjwvc3ZnPg==) 50% 50% no-repeat;
    /*background: url(select__tick.svg) 50% 50% no-repeat;*/
    background-size: 100%;
}
/* ../../ya-libs/islands-components/common.blocks/select/__item/_selected/select__item_selected_yes.css end */
/* ../../ya-libs/islands-components/common.blocks/select/__item/_inner/select__item_inner_yes.css begin */
.select__item_inner_yes .select__text
{
    padding-left: 2em;
}

/* ../../ya-libs/islands-components/common.blocks/select/__item/_inner/select__item_inner_yes.css end */
/* ../../ya-libs/islands-components/common.blocks/select/__item/_label/select__item_label_yes.css begin */
.select__item_label_yes .select__text
{
    font-weight: bold;
}
/* ../../ya-libs/islands-components/common.blocks/select/__item/_label/select__item_label_yes.css end */
/* ../../ya-libs/islands-components/common.blocks/select/__button/select__button.css begin */
.select__button
{
    max-width: 100%;

    text-align: left;

    vertical-align: top;
}

.select__button .button__text
{
    display: block;
    overflow: hidden;

    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.i-ua_js_no .select__button
{
    display: none;
}

/* ../../ya-libs/islands-components/common.blocks/select/__button/select__button.css end */
/* ../../ya-libs/islands-components/common.blocks/select/__control/select__control.css begin */
@media all and (min-width:0px) {
    .i-ua_js_yes .select__control
    {
        display: none;
    }
}

/* ../../ya-libs/islands-components/common.blocks/select/__control/select__control.css end */
/* ../../ya-libs/islands-components/common.blocks/select/__list/select__list.css begin */
.select__list
{
    position: relative;

    overflow: hidden;
}


/* ../../ya-libs/islands-components/common.blocks/select/__list/select__list.css end */
/* ../../ya-libs/islands-components/common.blocks/select/__separator/select__separator.css begin */
.select__separator
{
    position: relative;
    z-index: 3;
    
    float: left;

    width: 100%;
    margin-top: -1px;

    border-top: 1px solid;

    font: 0/0 a;
}
/* ../../ya-libs/islands-components/common.blocks/select/__separator/select__separator.css end */
/* ../../ya-libs/islands-components/common.blocks/select/__popup/select__popup.css begin */
.select__popup
{
    width: auto;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    -webkit-overflow-scrolling: touch; /*LEGO-7899*/
}

/* after — в попапе не нужен */
.select__popup:after
{
    content: none;
}

.select__popup .popup__content
{
    overflow-x: hidden;
    overflow-y: auto;

    padding: 0;
}

/* ../../ya-libs/islands-components/common.blocks/select/__popup/select__popup.css end */
/* ../../libs/bem-components/common.blocks/button/_size/button_size_m.css begin */
.button_size_m
{
    line-height: 32px;

    font-size: 15px;
}

/* ../../libs/bem-components/common.blocks/button/_size/button_size_m.css end */
/* ../../ya-libs/islands-components/common.blocks/select/_size/select_size_m.css begin */
.select_size_m,
.select__popup_size_m .select__item
{
    line-height: 32px;

    font-size: 15px;
}

/* ../../ya-libs/islands-components/common.blocks/select/_size/select_size_m.css end */
/* ../../ya-libs/islands-components/common.blocks/select/_theme/select_theme_normal.css begin */
.select_theme_normal,
.select__popup_theme_normal .select__item
{
    font-family: Arial, sans-serif;
}

/* Select */
.select__popup_theme_normal .select__item_focused_yes
{
    background-color: #ffeba0;
}

.select__popup_theme_normal .select__item_disabled_yes
{
    color: #999;
}

.select__popup_theme_normal .select__separator
{
    border-color: #ddd;
}


/* ../../ya-libs/islands-components/common.blocks/select/_theme/select_theme_normal.css end */

/* index.css end */
/* ../../libs/bem-components/desktop.blocks/checkbox/__tick/checkbox__tick.ie.css begin */
.checkbox__tick
{
    display: none;
}

/* ../../libs/bem-components/desktop.blocks/checkbox/__tick/checkbox__tick.ie.css end */
/* ../../libs/bem-components/desktop.blocks/checkbox/_disabled/checkbox_disabled_yes.ie.css begin */
.checkbox_disabled_yes .checkbox__label
{
    color: #c6c6c6;
}

/* ../../libs/bem-components/desktop.blocks/checkbox/_disabled/checkbox_disabled_yes.ie.css end */
/* ../../libs/bem-components/desktop.blocks/input/_disabled/input_disabled_yes.ie.css begin */
.input_disabled_yes .input__label,
.input_disabled_yes .input__hint
{
    color: #c6c6c6;
}

.input_disabled_yes .input__control
{
    filter: alpha(opacity = 60);
}

/* ../../libs/bem-components/desktop.blocks/input/_disabled/input_disabled_yes.ie.css end */
/* ../../libs/bem-components/desktop.blocks/input/__box/input__box.ie.css begin */
.input__box
{
    /* z1 — fix bug IE. INPUT disappears in the table */
    zoom: 1;

    vertical-align: middle;
}

/* ../../libs/bem-components/desktop.blocks/input/__box/input__box.ie.css end */
/* ../../libs/bem-components/desktop.blocks/input/__clear/input__clear.ie.css begin */
.input__clear
{
    display: none;
}

/* ../../libs/bem-components/desktop.blocks/input/__clear/input__clear.ie.css end */
/* ../../libs/bem-components/desktop.blocks/button/button.ie.css begin */
button.button
{
    /* Позволяет управлять внутренними отступами кнопки */ /**/
    overflow: visible;

    vertical-align: middle;
}

/* ../../libs/bem-components/desktop.blocks/button/button.ie.css end */
/* ../../libs/bem-components/desktop.blocks/button/__text/button__text.ie.css begin */
.button__text
{
    padding: 0 0.85em;
}

/* ../../libs/bem-components/desktop.blocks/button/__text/button__text.ie.css end */
/* ../../libs/bem-components/desktop.blocks/button/_disabled/button_disabled_yes.ie.css begin */
.button_disabled_yes,
a.button_disabled_yes
{
    cursor: default;

    color: #c6c6c6 !important;
}
/* ../../libs/bem-components/desktop.blocks/button/_disabled/button_disabled_yes.ie.css end */
/* ../../libs/bem-components/desktop.blocks/button/_size/button_size_m.ie.css begin */
button.button_size_m
{
    height: 34px;

    line-height: 27px;
}

/* ../../libs/bem-components/desktop.blocks/button/_size/button_size_m.ie.css end */
