.button_round_yes
{
    height: 32px;
    width: 32px;
}

.button_round_yes,
.button_round_yes.button_theme_normal:before
{
    border-radius: 100%;
}

.button_round_yes .button__icon.b-icon
{
    width: 18px;
    height: 18px;
    margin: -9px 0 0 -9px;

    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2254%22%3E%3Cpath%20fill%3D%22%23010101%22%20d%3D%22M13%2045.42c0-2.209-1.791-4-4-4s-4%201.791-4%204c0%201.631.979%203.027%202.379%203.65l.811-1.824c-.7-.31-1.19-1.012-1.19-1.826%200-1.104.896-2%202-2s2%20.896%202%202c0%20.814-.49%201.516-1.189%201.826l.811%201.824c1.399-.623%202.378-2.019%202.378-3.65zm-4-9c-4.971%200-9%204.029-9%209%200%203.67%202.199%206.82%205.349%208.223l1.217-2.74c-2.099-.936-3.566-3.038-3.566-5.483%200-3.312%202.687-6%206-6%203.312%200%206%202.688%206%206%200%202.445-1.467%204.548-3.566%205.48l1.217%202.74c3.15-1.4%205.35-4.551%205.35-8.221-.001-4.97-4.03-8.999-9.001-8.999z%22%2F%3E%3Cpolygon%20fill%3D%22%23020202%22%20points%3D%224.518%2C15.315%2015.477%2C8.988%204.518%2C2.66%22%2F%3E%3Cpath%20fill%3D%22%23010101%22%20d%3D%22M4%2033h4v-12h-4v12zm6-12v12h4v-12h-4z%22%2F%3E%3C%2Fsvg%3E) no-repeat;
}

.button_round_yes.button_state_play .b-icon
{
    background-position: 0 0;
}

.button_round_yes.button_state_pause .b-icon
{
    background-position: 0 -18px;
}

.button_round_yes.button_state_radio .b-icon
{
    background-position: 0 -36px;
}

.button_round_yes.button_pressed_yes .button__icon
{
    margin-top: -8px;
}

.button_round_yes.button_focused_yes,
.button_round_yes.button_focused_yes:not(.button_pressed_yes)::before
{
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.07);
    box-shadow: 0 1px 0 rgba(0,0,0,.07);
}

.button_round_yes.button_pressed_yes
{
    -moz-box-shadow: none;
    box-shadow: none;
}
