.my-form table
{
    font-size: 100%;

    width: 100%;
    padding: 0;

    border: 0;
    border-collapse: collapse;
}

.my-form td
{
    height: 90px;
    padding: 5px;

    border-collapse: collapse;
}
